# IC 4.5 Consistency Checks on orders_products_prior

# Table of Contents
##### 1. Import libraries
##### 2. Import data
##### 3. Consistency Checks on ords_prods_prior
    3.1 Check for mixed-type data
    3.2 Check for missing values
    3.3 Check for duplicates
##### 4. Export data

## 1. Import libraries

In [1]:
# Importing libraries pandas, numPy, and os

import pandas as pd
import numpy as np
import os

## 2. Import Data

In [3]:
#creating path
path = r'C:\Users\ashle\Documents\07-2024 Instacart Basket Analysis' # Assigns the master file path to variable 'path'

In [5]:
#importing orders_products_prior.csv using path
df_ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

## 3. Consistency Checks on df_ords_prods_prior

In [6]:
df_ords_prods_prior.shape

(32434489, 4)

In [9]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### 3.1 Check for mixed-type data

In [20]:
# Check for mixed-types on ords_prods_prior

for col in df_ords_prods_prior.columns.tolist():
    weird = (df_ords_prods_prior[[col]].map(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords_prods_prior[weird]) > 0:
        print (col)

There is no mixed-type data in the ords_prods_prior dataframe.

### 3.2 Check for missing values

In [22]:
# Check for missing values on ords_prods_prior

df_ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

There are no missing values in the ords_prods_prior dataframe.

### 3.3 Check for duplicates

In [25]:
# Check for duplicate rows on ords_prods_prior

df_ords_prods_prior_dups = df_ords_prods_prior[df_ords_prods_prior.duplicated()]

In [27]:
# If the df_ords_prods_prior_dups dataframe turns up empty, there are no duplicates. 

df_ords_prods_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

There are no duplicate rows in the ords_prods_prior dataframe.

## 4. Export data

In [30]:
df_ords_prods_prior.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior_checked.csv'))