# IC 4.5 Data Consistency Checks on products.csv & orders.csv

# Table of Contents
##### 1. Import libraries
##### 2. Import data
##### 3. Consistency Checks on products.csv
    3.1 Check for missing values
    3.2 Check for mixed-type data
    3.3 Check for duplicates
##### 4. Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share whether anything about the data looks off or should be investigated further.
##### 5. Consistency Checks on orders_wrangled.csv
    5.1 Check for mixed-type data
    5.2 Check for missing values
    5.3 Check for duplicates
##### 6. Export data

## 1. Import libraries

In [1]:
# Importing libraries pandas, numPy, and os

import pandas as pd
import numpy as np
import os

## 2. Import data

In [3]:
# Create path
path = r'C:\Users\ashle\Documents\07-2024 Instacart Basket Analysis' # Assigns the master file path to variable 'path'

# Import products.csv and orders_wrangled.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

## 3. Consistency Checks on products.csv

### 3.1 Check for missing values

In [5]:
# Check for missing values in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [7]:
# Create subset for nan (missing values)
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [9]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [11]:
# Check shape prior to making any changes
df_prods.shape

(49693, 5)

In [13]:
# Create a subset dataframe df_prods_clean to hold all products without the nulls
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [15]:
# Check shape after making any changes
# There should be exactly 16 less rows
df_prods_clean.shape

(49677, 5)

### 3.2 Check for mixed-type data

In [17]:
# Check for mixed types on df_prods_clean

for col in df_prods.columns.tolist():
    weird = (df_prods_clean[[col]].map(type) != df_prods_clean[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_prods_clean[weird]) > 0:
        print (col)

There is no mixed-type data in the df_prods dataframe.

### 3.3 Check for duplicates

In [19]:
# Find duplicate rows and assign to subset df_dups

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [21]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

There are 5 duplicate rows in the df_prods_clean dataframe.

In [23]:
# Check shape prior to making additional changes
df_prods_clean.shape

(49677, 5)

In [25]:
# Create new dataframe that doesn't include the duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
df_prods_clean_no_dups.shape

(49672, 5)

## 4. Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share whether anything about the data looks off or should be investigated further.

In [29]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Initial Insights: 

1. The max 'order_number' is 100. This seems unusually high for a typical customer, although still possible. 
2. The count for 'days_since_prior_order' is lower than that of the other columns possibly indicating missing values. (it has 206,209 less). 
3. The range for 'days_since_prior_order' is 0-30. '0' here could indicate possible missing values. 
4. The 'Unnamed: 0' column is likely an index column and is not needed for analysis.

## 5. Consistency Checks on orders_wrangled.csv

### 5.1. Check for mixed-type data

In [31]:
#check for mixed-type data present on df_ords

for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print (col)

In [33]:
# There is no mixed-type data present in df_ords dataframe.
df_ords.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

### 5.2. Check for missing values

In [35]:
#look for missing values in df_ords
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

The only column with missing values is days_since_prior_order. There are 206,209 missing values. This aligns with what was identified in step 2. 

Possible explanations for these missing values: 
1. First order: If the order is the customer's first order, there would be no prior order to calculate.
2. Currupt data
3. Errors in data entry

There are multiple ways to handle missing data: 

1. Create a new variable that acts like a flag based on the missing value.
2. Impute the value with the mean or median of the column (if the variable is numeric).
3. Remove or filter out the missing data.

Approach: 
We need to verify first order data. If the reason for all missing values in the 'days_since_prior_order' column are indeed due to being a first order, proceed by creating a flag that indicates if it was a first order or not. 

Steps: 
1. Create a crosstab between the ‘days_since_prior_order’ column and the ‘order_number’ column. 
2. Use the crosstab.to_clipboard() function to copy, then paste into excel to view. 
3. If all the missing values from ‘days_since_prior_order’ fall where the order number is equal to 1, we can consider the hypothesis confirmed and move on with the rest of the analysis. 
4. Add a flag 'first_order' where True means this this the first order and False means it is the 2nd or subsequent order. 

Reasoning: 
I opted for this approach over removing from the dataframe or imputing because there is a valuable meaning behind the missing values. Imputing or removal would skew the results and make it appear that every customer has made multiple orders which is not the case.

In [37]:
# Make crosstab to validate missing values in days_since_prior order column
crosstab = pd.crosstab(df_ords['days_since_prior_order'], df_ords['order_number'], dropna = False)

In [39]:
# Copy to clipboard
crosstab.to_clipboard()

After viewing the crosstab, all the missing values from ‘days_since_prior_order’ fall where the order number is equal to 1.
This will be included in the final deliverable report.

In [41]:
# Address the missing values by creating a 'first_order' flag containing True/False values depending on whether or not order_number = 1. 
df_ords['first_order'] = df_ords['days_since_prior_order'].isnull()

In [49]:
# Confirm changes by viewing dataframe with new flag first_order. 
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [51]:
# Recheck for any missing values 
df_ords['days_since_prior_order'].isnull().sum()

206209

The 206,209 missing values have been addressed. There is now a corresponding first_order flag that provides an explanation to stakeholders for the missing values.

### 5.3 Check for duplicate values

In [53]:
# Find duplicate rows and assign to subset df_ords_dups
df_ords_dups = df_ords[df_ords.duplicated()]

In [55]:
# If subset df_ords_dups is empty, that means there are no duplicates.
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order, first_order]
Index: []

There are no duplicates in df_ords.

There were no duplicates in df_ords so no adjustments need to be made.

In [59]:
# Check number of rows in df_ords to compare with what it was prior to consistency checks. 
df_ords.shape

(3421083, 8)

## 6. Export data

In [61]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [63]:
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_checked.csv'))