# IC 4.6 Part 1_Combining and Exporting orders_products_prior data with orders data

# Table of Contents
##### 1. Import libraries
##### 2. Import data
##### 3. Check data shape
##### 4. Merge Data (orders_products_prior_checked / orders_checked)
##### 5. Export data

## 1. Import libraries

In [13]:
# Import pandas, numPy, and os

import pandas as pd
import numpy as np
import os

## 2. Import data

In [15]:
# Assign the master file path to variable 'path'
path = r'C:\Users\ashle\Documents\07-2024 Instacart Basket Analysis' # Assigns the master file path to variable 'path'

# Import orders_products_prior_checked.csv as df_ords_prior
df_ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior_checked.csv'), index_col = False)

# Import ords_checked.csv as df_ords_checked
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_checked.csv'), index_col = False)

## 3. Check data shape

In [17]:
df_ords_prods_prior.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         2       33120                  1          1
1           1         2       28985                  2          1
2           2         2        9327                  3          0
3           3         2       45918                  4          1
4           4         2       30035                  5          0

In [19]:
# Dropping the Unnamed: 0 column on df_ords_prods_prior

df_ords_prods_prior = df_ords_prods_prior.drop(columns=['Unnamed: 0'])

In [21]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
# Check shape of df_ords_prods_prior
df_ords_prods_prior.shape

(32434489, 4)

In [25]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [27]:
# Dropping the Unnamed: 0 column on df_ords

df_ords = df_ords.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [29]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [33]:
# Check shape of df_ords
df_ords.shape

(3421083, 7)

## 4. Merge Data (orders_products_prior_checked / orders_checked)

In [35]:
# Merge df_ords_prods_prior on df_ords using an inner join, with a merge flag
df_merged_large = df_ords.merge(df_ords_prods_prior, on = 'order_id', indicator = True)

In [36]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [39]:
# Check the frequency of merge flag
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

Data successfully merged.

In [41]:
# Check shape of the merged dataframe df_merged_large
df_merged_large.shape

(32434489, 11)

## 5. Export Data

In [43]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))